.livestream {
    position: relative;
    margin-top: 48px;
    padding-bottom: 20px;

    .card {
        .top-card {
            position: relative;
            width: 100%;

            &:hover {
                .image {
                    img {
                        transform: scale(1.1) translateZ(0);
                        transition: transform 0.7s;
                    }
                    .overlay {
                        visibility: visible;
                        border-radius: 100%;
                    }
                }
                .play-btn {
                    display: flex;
                    cursor: pointer;
                }
            }

            .image {
                position: relative;
                border-radius: 100%;
                overflow: hidden;
                border: 4px solid red;
                cursor: pointer;

                img {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                    background-color: var(--dark-alpha-50);
                    visibility: hidden;
                }
            }
            .host {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;
                width: 52px;
                border-radius: 100%;
                border: 2px solid var(--white-color);
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    object-fit: cover;
                }
            }
            .label {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                z-index: 1;

                img {
                    display: block;
                    object-fit: cover;
                }
            }
            .play-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                display: none;
                align-items: center;
                justify-content: center;

                .icon {
                    width: 45px;
                    height: 45px;
                    fill: var(--white-color);
                }
            }
        }
        .bottom-card {
            text-align: center;
            margin-top: 16px;

            .title {
                font-weight: 600;
                font-size: 16px;
                line-height: 1.2;
            }
            .subtitle {
                font-size: 12px;
                font-weight: 400;
                line-height: 1.33;
                color: var(--text-secondary);
            }
        }
    }
}

.podcast {
    position: relative;
    margin-top: 28px;
    padding-bottom: 10px;

    &.custom-title .header {
        display: flex;
    }

    &.custom-title .title {
        display: none;
    }

    .header {
        display: none;
        align-items: center;
        margin-bottom: 16px;

        .image {
            width: 50px;
            border-radius: 5px;
            overflow: hidden;
            margin-right: 10px;

            &:hover img {
                transform: scale(1.1) translateZ(0);
                transition: transform 0.7s;
                cursor: pointer;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .heading {
            cursor: default;

            .subtitle {
                font-size: 1.4rem;
                text-transform: uppercase;
                color: var(--text-secondary);
            }
            .heading-title {
                font-size: 1.8rem;
                margin-bottom: 0;
                line-height: 1.2;
            }
        }
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        margin-bottom: 12px;
    }
    .podcast-list {
        .podcast-item {
            .image {
                width: 100%;
                border-radius: 5px;
                overflow: hidden;
                cursor: pointer;

                &:hover img {
                    transform: scale(1.1) translateZ(0);
                }

                img {
                    width: 100%;
                    display: block;
                    object-fit: cover;
                    transition: transform 0.7s;
                }
            }
            .content {
                .content-title span {
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1.28;
                    margin-top: 8px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    cursor: pointer;

                    &:hover {
                        color: var(--link-text-hover);
                    }
                }
            }
        }
    }
}
