.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: var(--border-radius-primary);
    position: relative;

    &:hover,
    &.active {
        background-color: var(--alpha-bg);
        transition: all 0.2s ease 0s;
    }

    &.active .more,
    &:hover .more,
    &.active .content .img .overlay,
    &:hover .content .img .overlay {
        visibility: visible;
    }

    &.active .info,
    &:hover .info {
        margin-right: 38px;
    }

    & .content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        flex: 1;

        .img {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: var(--border-radius-primary);
            margin-right: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: var(--border-radius-primary);
            }

            .overlay {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: var(--border-radius-primary);
                z-index: 1;
                cursor: pointer;
                visibility: hidden;

                & span {
                    padding: 4px;
                    color: var(--white-color);
                }
            }
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    &.is-VIP .name .tag {
        display: inline-block;
    }

    &.is-VIP .name,
    &.is-VIP .singer {
        opacity: 0.5;
    }

    & > span {
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        height: auto;
        overflow: hidden;
    }

    & .name {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--player-text);

        .name-song {
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            height: auto;
            overflow: hidden;
        }

        .tag {
            display: none;
            margin-left: 8px;
        }
    }

    & .singer {
        font-size: 1.3rem;
        color: var(--text-color);
        line-height: 1.4;
    }

    & .time {
        font-size: 1.2rem;
        color: var(--text-color);
    }
}

.wrapper {
    .more {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        right: 8px;
        width: 38px;
        height: 38px;
        visibility: hidden;
        margin-left: 10px;
        border-radius: 100%;
        color: var(--text-primary);
        cursor: pointer;

        &:hover {
            background-color: var(--alpha-bg);
        }
    }
}
