@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #545359;
    --text-color-2: #8a8f96;
    --orange-color: #ee732f;
    --background-border: #dedede;
    --border-color: #e6effb;
    --border-color-2: #ccc;

    --playing-song-height: 88px;

    --font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    background-color: #dddbe6;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

::selection {
    background-color: var(--orange-color);
    color: #fff;
}

/* Scrollbar CSS */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
