@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    // Color
    --white-color: #fff;
    --black-color: #000;
    --text-primary: #32323d;
    --text-color: #545359;
    --text-secondary: rgba(0, 0, 0, 0.6);
    --text-color-2: #8a8f96;
    --text-color-3: hsla(0, 0%, 100%, 0.5);
    --orange-color: #ee732f;
    --search-text: #282828;
    --background-border: #dedede;
    --border-color: #e6effb;
    --border-color-2: #ccc;
    --player-text: #32323d;
    --link-text-hover: #9c32ca;
    --linear-gradient-bg: linear-gradient(180deg, #740091, #2d1a4c);
    --alpha-bg: rgba(0, 0, 0, 0.05);
    --sidebar-bg: rgba(0, 0, 0, 0.05);
    --layout-bg: #fff;
    --text-placeholder: #757575;
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.08);

    // Box shadow color
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.08);

    // Box shadow
    --box-shadow-header: 0 3px 5px var(--sticky-header-box-shadow);

    // Width height
    --playing-song-height: 88px;
    --header-search-info-height: 68px;

    // Font family
    --font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    background-color: #dddbe6;
    color: var(--text-primary);
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

::selection {
    background-color: var(--orange-color);
    color: #fff;
}

/* Scrollbar CSS */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
