.wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
    }

    & .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9;
        width: 248px;
        background-color: #f2f1f5;
        border-right: 1px solid var(--border-color);
    }

    & .content {
        position: relative;
        flex: 1;
        width: 100%;
        overflow-x: hidden;
        margin-left: 248px;
        margin-right: 330px;
        background-color: #f9f9f9;
        padding: 0 40px;
        overflow-y: overlay;

        & .body {
            margin-top: var(--header-search-info-height);
        }
    }

    & .queue {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9;
        width: 330px;
        background-color: #f9f9f9;
        border-left: 1px solid var(--border-color);
    }
}
