.wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: var(--layout-bg);

    .container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
    }

    & .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9;
        width: var(--sidebar-width);
        background-color: var(--sidebar-bg);
        border-right: 1px solid var(--border-color);
    }

    & .content {
        position: relative;
        flex: 1;
        width: 100%;
        overflow-x: hidden;
        margin-left: var(--sidebar-width);
        padding: 0 50px;
        overflow-y: overlay;

        & .body {
            margin-top: var(--header-search-info-height);
            padding-top: 20px;
        }
    }

    & .queue {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9;
        width: 330px;
        border-left: 1px solid var(--border-color);
    }
}
