.label {
    display: inline-block;
    font-size: 1.3rem;
    margin-top: 18px;
    margin-left: 14px;
    margin-bottom: 10px;
    color: #a9a9af;
    cursor: default;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 6px 14px;
    color: var(--text-color);
    border-radius: 8px;
    cursor: pointer;

    .icon {
        display: flex;
        align-items: center;
        justify-content: start;
        min-width: 36px;
    }

    & span {
        font-size: 1.6rem;
        font-weight: 500;
    }

    &:hover {
        background-color: var(--layout-bg);
    }

    &.active {
        color: var(--primary-color);
    }
}
