.wrapper {
    position: relative;
    padding-top: calc(var(--header-search-info-height) + 20px);
    margin-bottom: calc(var(--playing-song-height) + 20px);

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 700px;
        margin: 0 -50px;
        z-index: 0;

        .bg-blur,
        .bg-alpha,
        .bg-alpha-1 {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
        }

        .bg-blur {
            background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.8.30/static/media/bg-chart.fd766403.jpg)
                center top / cover no-repeat;
            filter: grayscale(1);
        }

        .bg-alpha {
            opacity: 0.9;
            z-index: 0;
            background-image: linear-gradient(180deg, var(--layout-bg), var(--layout-bg));
        }

        .bg-alpha-1 {
            background-image: linear-gradient(180deg, transparent, transparent 50%, var(--layout-bg));
        }
    }
}
