.wrapper {
    position: fixed;
    left: var(--sidebar-width);
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid var(--border-color);
    height: var(--header-search-info-height);
    background-color: var(--layout-bg);
    z-index: 100;

    .search {
        position: relative;
        display: flex;
        width: 480px;
        height: 34px;
        background-color: var(--alpha-bg);
        border-radius: var(--border-radius-search);
        padding-right: 16px;

        .search-btn {
            border: none;
            outline: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 52px;
            border-top-left-radius: var(--border-radius-search);
            border-bottom-left-radius: var(--border-radius-search);
            cursor: pointer;

            svg {
                fill: var(--text-placeholder);
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(22, 24, 35, 0.03);
            }

            &:active {
                background-color: rgba(22, 24, 35, 0.06);
            }
        }

        input {
            border: none;
            outline: none;
            height: 100%;
            flex: 1;
            padding: 0 30px 0 4px;
            font-size: 1.6rem;
            caret-color: var(--text-primary);
            color: var(--search-text);
            background-color: transparent;
        }

        input:not(:placeholder-shown) ~ .search-btn svg {
            fill: rgba(22, 24, 35, 0.75);
        }

        input:focus ~ .search-border {
            display: block;
        }

        .search-border {
            display: none;
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            border: 1.5px solid rgba(22, 24, 35, 0.2);
            border-radius: var(--border-radius-search);
        }
    }

    .info {
        display: flex;
        align-items: center;

        .name {
            font-size: 1.4rem;
            font-weight: 500;
            margin-right: 12px;
            color: #8a8a8f;
            cursor: default;
        }

        .image {
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                font-size: 1.4rem;
                color: #8a8a8f;
            }
        }

        .image img {
            display: block;
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 100%;
            margin-right: 12px;
        }
    }

    .authentication {
        .register {
            color: var(--white-color);
            background-color: var(--primary-color);
            margin-left: 10px;
            outline: none;
            border: none;
        }

        .login {
            color: var(--text-primary);
        }
    }
}
