.wrapper {
    width: 100%;
    max-width: 100%;
    padding: 20px 0 40px;
    margin-bottom: var(--playing-song-height);
    overflow-x: hidden;

    & .content {
        width: 100%;

        .nav {
            list-style: none;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--text-color);

            li {
                padding-right: 10px;
                margin-right: 10px;
                cursor: pointer;
            }

            & .active {
                color: var(--black-color);
            }
        }
    }
}
