.wrapper {
    margin: 20px auto 24px;
    width: 760px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--border-color-2);
    cursor: default;

    .header {
        display: flex;
        justify-content: space-between;

        span {
            font-weight: 600;
            color: #7c8db5;
            cursor: pointer;
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 18px;
    }

    .item {
        width: 160px;
        padding: 14px;
        border-radius: 8px;
        border: 1px solid var(--border-color-2);
        cursor: pointer;

        .item-img {
            position: relative;
        }

        .image {
            display: block;
            width: 130px;
            height: 122px;
            object-fit: cover;
            border-radius: 14px;
        }

        .name {
            margin-top: 8px;
            font-size: 1.6rem;
            color: var(--black-color);
        }

        .author {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--text-color-2);
        }

        .play {
            position: absolute;
            bottom: 15px;
            right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            color: var(--orange-color);
            background-color: var(--white-color);
            border-radius: 14px;
        }
    }
}
