.sidebar {
    display: flex;
    flex-direction: column;
    padding: 24px;

    .logo {
        display: inline-block;

        img {
            display: block;
            padding-left: 12px;
        }
    }
}
